[submodule "HardwareInterface"]
	path = HardwareInterface
	url = https://github.com/theKlanc/HardwareInterface
[submodule "deps/FastNoise"]
	path = deps/FastNoise
	url = https://github.com/Auburns/FastNoise
[submodule "deps/HardwareInterface"]
	path = deps/HardwareInterface
	url = https://github.com/theKlanc/HardwareInterface.git
